::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $primary-700;
}

::-webkit-scrollbar-thumb {
    background: $primary-700;
}

::-webkit-scrollbar-track:hover {
    background: $primary-700;
}